.container__articles{
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.articles__others{
    
}

header {
    display: flex;
    justify-content: center;
}