<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            [id]="mainArticle.id"
            [photoCover]="mainArticle.photo"
            [cardTitle]="mainArticle.title"
            [cardDescription]="mainArticle.description"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card *ngFor="let article of articles"
            [id]="article.id"
            [photoCover]="article.photo"
            [cardTitle]="article.title"
        ></app-small-card>
    </div>
</div>